# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
base.cpp

# VSCode files
.vscode/*

# Search100 Files
documents.json
term_documents.json
term_occurences.json

# Corpus Directory
corpus/*
!corpus/.gitkeep
